.ztree li span.button.ico_docu{margin-right:2px; background: url(img/dir.png) no-repeat scroll -110px -15px transparent;}
.ztree li span.button.pIcon01_ico_docu{margin-right:2px; background: url(img/dir.png) no-repeat scroll -110px -33px transparent;}
.ztree li span.button.pIcon01_ico_close{margin-right:2px; background: url(img/dir.png) no-repeat scroll -110px -33px transparent;}
.ztree li span.button.pIcon01_ico_open{margin-right:2px; background: url(img/dir.png) no-repeat scroll -110px -49px transparent;}

