<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>模板文件不存在</title>
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        div {
            margin: 30px;
            padding: 30px;;
            border: solid 1px #d2322d;
            font-size: 16px;
            font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        div strong {
            font-size: 20px;
            font-weight: bold;
            color: #d2322d;
        }
    </style>
</head>
<body>
<div>
    模板文件 <strong>{$tpl_file}</strong> 不存在
</div>
</body>
</html>