<include file='__TEMPLATE__/block/header.html'/>
<!--banner--> 
<div id="banner-block">
	<div class="banner-block-width"><div id="sys-banner"><div id="banner-main" class="banner banner-main"><div class="banner-inner"><a href="/articles/meitibaodao/73640.html" target="_self"><img src="http://demo.open.www313.com/documents/show/6039" width="100%" alt="" /></a></div></div>
</div>
	</div>
</div>

<!--中间区块-->
<div id="content-block">
<div class="content-block-width">
	<div id="bd">
	<div id="innerpg" class="bd-inner">
    <!--检查这里是否为一样-->
	<div class="clearfix layout-innerpg ">
<style>
<!--
	.pages2 {height:30px;list-style-type:none;margin-left:20px;}
	.pages2 li {width:30px;text-align:center;float:left;}
	.pages2 li.bgcolor {background:#CCC;color:white;}
-->
</style>
		<div class="col-main">
		<div class="main-wrap">

			<div id='article-view' class="block first-block block-article-view">
				<div class="block-head">
					<div class="head-inner">
						<h2 class="title">媒体报道</h2>
						<div class="links"><a href="/articles">返回列表</a></div>
					</div>
				</div>
				<div class="block-content clearfix">
					<div class="article-head">
						<h1 class="title">{$hdcms.title}</h1>
						<div class="meta">
							<span class="item">分类：{$hdcms.cname}</span>
							<span class="item">作者：{$hdcms.author}<span class="yellow"></span></span>
							<span class="item">来源：{$hdcms.source}</span>
							<span class="item">发布：<span class="grey">{$hdcms.addtime|date:'Y-m-d',@@}</span></span>
							<span class="item">点击：<span class="grey">
<script type='text/javascript' src='__CONTROL__&m=update_click&id={$hdcms.id}'></script>
							</span></span>
						</div>
					</div> 
										<div class="article-content clearfix" style="padding-top:20px;">
						{$hdcms.content}			</div>
					<div class="pages2">
						<pagenext/> 
					</div>
				</div>
				<div class="block-foot"><div><div>-</div></div></div>
			</div>
			</div>
		</div>
		<div class="col-sub">
			<div class="block first-block block-articles  list-240" id="block-articles-109062" rel="109062">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">文章分类</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
			    					    		<channel type='son' cid='4'>
			    					    		<li>
			    		<a title="{$field.cname}" href="{$field.url}">{$field.cname}</a>
			    					    		</li>	
			    					    		</channel>
			    					    	</ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div><div class="block last-block block-articles  list-240" id="block-articles-109061" rel="109061">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">最新文章</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
			    					    		<arclist row='5' type='new'>
			    					    		<li>
			    		<a title="初识集装箱干燥剂" href="{$field.url}">{$field.title}</a>
			    					    		</li>
			    					    	</arclist></ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div>		</div></div>
	</div>
	</div>
</div>
</div>
<!--底部-->
<div id="ft">
	<div class="ft-inner"><div class="ft-menu"  id="ft-menu">
	<a href="/page/lianxiwomen" target="_self">联系我们</a> | <a href="/page/gongsijieshao" target="_self">公司介绍</a> | <a href="/articles" target="_self">网站新闻</a> | <a href="/books" target="_self">留言系统</a> | <a href="/links" target="_self">友情链接</a></div>

<div class="siteinfo" id="ft-siteinfo">
		<a href="http://www.miibeian.gov.cn/"></a></p>
</div></div>
</div>
</body>
</html>