<include file='__TEMPLATE__/block/header.html'/>

  
<!--banner--> 
<div id="banner-block">
	<div class="banner-block-width"><div id="sys-banner"><div id="banner-main" class="banner banner-main"><div class="banner-inner"><a href="/" target="_self"><img src="http://demo.open.www313.com/documents/show/6039" width="100%" alt="" /></a></div></div>
</div>
	</div>
</div>

<!--中间区块-->
<div id="content-block">
<div class="content-block-width">
	<div id="bd">
	<div id="homepg" class="bd-inner">
    <!--检查这里是否为一样-->
	<div class="clearfix layout-home three-cols">	<div class="main-layout clearfix">
			</div>
	<div class="col-main">
		<div class="main-wrap">
			<div class="block first-block block-diy list-410" id="block-diy-109067" rel="109067">
    <div class="block-head">
	    <div class="head-inner">
	    	<h2 class="title">公司介绍</h2>
	    	    
	    </div>
    </div>
    <div class="block-content clearfix">
    	<arclist id="9">
    	<div class="content-text">
    		{$field.content|strip_tags|mb_substr:0,150,'utf8'}
	</arclist>
</div>
    </div>
    <div class="block-foot"><div><div></div></div></div>
 </div><div class="block last-block block-products list-410" id="block-products-109066" rel="109066">
    <div class="block-head"><div class="head-inner"><h2 class="title">最新产品</h2><div class="links"><a class="more" href="/products">更多</a></div>    </div></div>
    <div class="block-content clearfix">
        <ul class="list-gallery clearfix">
        	<arclist row="3" image="1">
                        <li>
                <div class="thumb">
                <a href="/products/hailulianyun/115907.html" ><img src="{$field.thumb}" alt="{$field.title}" width="100%" /></a>
                </div>
                <div class="des"><p class="default"><a href="products/hailulianyun/115907.html" >{$field.title}</a></p></div>
				            </li>
				          </arclist>
                        
                    </ul>
    </div>
    <div class="block-foot"><div><div></div></div></div>
 </div>		</div>
	</div>
	<div class="col-sub">
   		<div class="block first-block block-products  list-270" id="block-products-109065" rel="109065">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">产品分类</h2><div class="links"><a class="more" href="/products">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
	    	<channel type='son' cid='4'>
			    					    		<li>
			    		<a title="海铁联运" href="{$field.url}">{$field.cname}</a>
			    					    		</li>
		</channel>
			    					    	</ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div><div class="block last-block block-diy list-270" id="block-diy-109068" rel="109068">
    <div class="block-head">
	    <div class="head-inner">
	    	<h2 class="title">联系我们</h2>
	    	    
	    </div>
    </div>
    <div class="block-content clearfix">
    	<div class="content-text"><span style="white-space:nowrap;">地址：软件园二期望海路2号</span><br />
<span style="white-space:nowrap;">电话：025-1234567</span><br />
<span style="white-space:nowrap;">邮箱：web@aaaa.com</span><br />
<span style="white-space:nowrap;">服务热线：4999-666-666</span><br /></div>
    </div>
    <div class="block-foot"><div><div></div></div></div>
 </div>	</div>
	<div class="col-extra">
		<div class="block first-block block-articles  list-250" id="block-articles-109059" rel="109059">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">最新文章</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
	    	<arclist row="5">
			    					    		<li>
			    		<a title="{$field.title}" href="{$field.url}">{$field.title}</a>
			    					    		</li>	
			  </arclist>
			    					    	</ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div><div class="block last-block block-articles  list-250" id="block-articles-109069" rel="109069">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">热门文章</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
	    	<arclist row="5" type="hot">
			    					    		<li>
			    		<a title="{$field.title}" href="{$field.url}">{$field.title}</a>
			    					    		</li>	
			    					    		</arclist></ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div>	</div>

	</div>
	</div>
	</div>
</div>
</div>
<!--底部-->
<div id="ft">
	<div class="ft-inner"><div class="ft-menu"  id="ft-menu">
	<a href="/page/lianxiwomen" target="_self">联系我们</a> | <a href="/page/gongsijieshao" target="_self">公司介绍</a> | <a href="/articles" target="_self">网站新闻</a> | <a href="/books" target="_self">留言系统</a> | <a href="/links" target="_self">友情链接</a></div>

<div class="siteinfo" id="ft-siteinfo">
		<a href="http://www.miibeian.gov.cn/"></a></p>
</div></div>
</div>

	
	</div>
	



	</div>

</body>
</html>