<include file='__TEMPLATE__/block/header.html'/>
  
<!--banner--> 
<div id="banner-block">
	<div class="banner-block-width"><div id="sys-banner"><div id="banner-main" class="banner banner-main"><div class="banner-inner"><a href="/articles" target="_self"><img src="http://demo.open.www313.com/documents/show/6039" width="100%" alt="" /></a></div></div>
</div>
	</div>
</div>

<!--中间区块-->
<div id="content-block">
<div class="content-block-width">
	<div id="bd">
	<div id="innerpg" class="bd-inner">
    <!--检查这里是否为一样-->
	<div class="clearfix layout-innerpg ">	<div class="col-main">
		<div class="main-wrap">
						<div id='articles-list' class="block first-block">
				<div class="block-head">
					<div class="head-inner">
						<h2 class="title">{$field.cname}</h2>
											</div>
				</div>
				<div class="block-content clearfix">
					<div class="list-table">
										<table class="data">
						<thead>
						<tr>
							<th class="title">分类/标题</th>
							<th class="time">发布</th>
						</tr>
						</thead>
						<tbody>
							<pagelist row='2'>
							<tr>
							<td class="title">
								<span class="catalog">[ <a href="{$field.caturl}" title="媒体报道">{$field.cname}</a> ]</span> 
								<a href="{$field.url}"><span class="style1">{$field.title}</span></a></td>
							<td>{$field.addtime|date:'Y-m-d',@@}</td>
						</tr>
					</pagelist>
												</tbody>
					</table>
										</div>
					<div class="pager clearfix">
<div class="list">
	
	<pagenum style='1'/>
	
</div>
</div>
				</div>
				<div class="block-foot"><div><div>-</div></div></div>
			</div>
			
		</div>
		</div>
		<div class="col-sub">
			<div class="block first-block block-articles  list-240" id="block-articles-109062" rel="109062">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">文章分类</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
	    	<channel type='son' cid='4'>
			    					    		<li>
			    		<a title="{$field.cname}" href="{$field.url}">{$field.cname}</a>
			    					    		</li>	
			    					    		</channel>		</ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div><div class="block last-block block-articles  list-240" id="block-articles-109061" rel="109061">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">最新文章</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
	    	<arclist row='5' type='new'>
			    					    		<li>
			    		<a title="初识集装箱干燥剂" href="/articles/meitibaodao/73640.html">{$field.title}</a>
			    					    		</li>	
			    					    		</arclist>		    		

			    					    	</ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div>		</div></div>
	</div>
	</div>
</div>
</div>
<!--底部-->
<div id="ft">
	<div class="ft-inner"><div class="ft-menu"  id="ft-menu">
	<a href="/page/lianxiwomen" target="_self">联系我们</a> | <a href="/page/gongsijieshao" target="_self">公司介绍</a> | <a href="/articles" target="_self">网站新闻</a> | <a href="/books" target="_self">留言系统</a> | <a href="/links" target="_self">友情链接</a></div>
	<div class="siteinfo" id="ft-siteinfo">
	<a href="http://www.miibeian.gov.cn/"></a></p>
</div></div>
</div>