<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>网站新闻 -  绿黑色物流网站设计G </title>
<meta content="网站新闻, " name="keywords" />
<meta content="绿黑色物流网站设计G的网站新闻列表信息。" name="description" />
<link rel="stylesheet" type="text/css" href="__TEMPLATE__/css/css1.css" />
</head>
<body >
<!--顶部-->
<div id="doc">
	<div id="hd">
		<div class="clearfix pagetitle">
			<h1 class="sitename"><a href="/" title="绿黑色物流网站设计G"><img  class="ifixpng" src="http://7737.open.www313.com/themed/9671_20131223094610_publish/img/logo.png"  alt="绿黑色物流网站设计G" /></a></h1>
			<div class="language">
				<div class="language-inner"><span>中文</span> | <a href="/?language=eng">English</a></div><form class="search clearfix" action="/search">
					<input id="ipt-keywords" name="keyword" class="enter" type="text" value="请输入关键字..." />
					<button class="btn" type="submit"></button>
				</form></div>
		</div>
		<div class="clearfix sitenav">
			<div class="clearfix menu-main"><ul id="menuSitenav" class="clearfix">
<li class="first-item">
     <a href="/" class="home"><span>首页</span></a>
</li>
                                <li >
                <a href="/page/gongsijieshao" target="_self"><span>公司介绍</span></a>                                </li>
                                <li >
                <a href="/products" target="_self"><span>产品管理</span></a>                                </li>
                                <li >
                <a href="/articles" target="_self"><span>网站新闻</span></a>                                </li>
                                <li >
                <a href="/jobs" target="_self"><span>人才招聘</span></a>                                </li>
                                <li >
                <a href="/books" target="_self"><span>留言系统</span></a>                                </li>
                                <li >
                <a href="/links" target="_self"><span>友情链接</span></a>                                </li>
                                <li >
                <a href="/downs" target="_self"><span>下载专区</span></a>                                </li>
                                <li  class="last-item">
                <a href="/page/lianxiwomen" target="_self"><span>联系我们</span></a>                                </li>
                </ul></div>	
		</div>
	</div>      
</div>
  
<!--banner--> 
<div id="banner-block">
	<div class="banner-block-width"><div id="sys-banner"><div id="banner-main" class="banner banner-main"><div class="banner-inner"><a href="/articles" target="_self"><img src="http://demo.open.www313.com/documents/show/6039" width="100%" alt="" /></a></div></div>
</div>
	</div>
</div>

<!--中间区块-->
<div id="content-block">
<div class="content-block-width">
	<div id="bd">
	<div id="innerpg" class="bd-inner">
    <!--检查这里是否为一样-->
	<div class="clearfix layout-innerpg ">	<div class="col-main">
		<div class="main-wrap">
						<div id='articles-list' class="block first-block">
				<div class="block-head">
					<div class="head-inner">
						<h2 class="title">网站新闻</h2>
											</div>
				</div>
				<div class="block-content clearfix">
					<div class="list-table">
										<table class="data">
						<thead>
						<tr>
							<th class="title">分类/标题</th>
							<th class="time">发布</th>
						</tr>
						</thead>
						<tbody>
												<tr>
							<td class="title"><span class="catalog">[ <a href="/articles/meitibaodao/index.html" title="媒体报道">媒体报道</a> ]</span> <a href="/articles/meitibaodao/73640.html" target="_blank" title="初识集装箱干燥剂"><span class="style1">初识集装箱干燥剂</span></a></td>
							<td>2013-12-24</td>
						</tr>
												<tr>
							<td class="title"><span class="catalog">[ <a href="/articles/meitibaodao/index.html" title="媒体报道">媒体报道</a> ]</span> <a href="/articles/meitibaodao/73639.html" target="_blank" title="进出口必须了解的提单知识"><span class="style1">进出口必须了解的提单知识</span></a></td>
							<td>2013-12-24</td>
						</tr>
												<tr>
							<td class="title"><span class="catalog">[ <a href="/articles/meitibaodao/index.html" title="媒体报道">媒体报道</a> ]</span> <a href="/articles/meitibaodao/73638.html" target="_blank" title="舱单新规定"><span class="style1">舱单新规定</span></a></td>
							<td>2013-12-24</td>
						</tr>
												<tr>
							<td class="title"><span class="catalog">[ <a href="/articles/meitibaodao/index.html" title="媒体报道">媒体报道</a> ]</span> <a href="/articles/meitibaodao/73637.html" target="_blank" title="走进防城港 弄潮北部湾"><span class="style1">走进防城港 弄潮北部湾</span></a></td>
							<td>2013-12-24</td>
						</tr>
												<tr>
							<td class="title"><span class="catalog">[ <a href="/articles/meitibaodao/index.html" title="媒体报道">媒体报道</a> ]</span> <a href="/articles/meitibaodao/73636.html" target="_blank" title="广西北部湾打造国际航运枢纽和港口物流中心"><span class="style1">广西北部湾打造国际航运枢纽和港口物流中心</span></a></td>
							<td>2013-12-24</td>
						</tr>
												</tbody>
					</table>
										</div>
					<div class="pager clearfix">
<div class="list">
	
	<span nolinkClass="pager-nolink" class="pager-nolink"><span>上一页</span></span>		 <span class="pager-current"><span>1</span></span>  <a href="/articles/index/page:2" class="pager-item" link_type="cms_front"><span>2</span></a>		<a href="/articles/index/page:2" nolinkClass="pager-nolink" class="pager-item"><span>下一页</span></a>	
	
</div>
</div>
				</div>
				<div class="block-foot"><div><div>-</div></div></div>
			</div>
			
		</div>
		</div>
		<div class="col-sub">
			<div class="block first-block block-articles  list-240" id="block-articles-109062" rel="109062">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">文章分类</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
			    					    		<li>
			    		<a title="国内新闻" href="/articles/guoneixinwen/index.html">国内新闻</a>
			    					    		</li>			    		<li>
			    		<a title="国际新闻" href="/articles/guojixinwen/index.html">国际新闻</a>
			    					    		</li>			    		<li>
			    		<a title="公司新闻" href="/articles/gongsixinwen/index.html">公司新闻</a>
			    					    		</li>			    		<li>
			    		<a title="媒体报道" href="/articles/meitibaodao/index.html">媒体报道</a>
			    					    		</li></ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div><div class="block last-block block-articles  list-240" id="block-articles-109061" rel="109061">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">最新文章</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
			    					    		<li>
			    		<a title="初识集装箱干燥剂" href="/articles/meitibaodao/73640.html">初识集装箱干燥剂</a>
			    					    		</li>			    		<li>
			    		<a title="进出口必须了解的提单知识" href="/articles/meitibaodao/73639.html">进出口必须了解的提单知识</a>
			    					    		</li>			    		<li>
			    		<a title="舱单新规定" href="/articles/meitibaodao/73638.html">舱单新规定</a>
			    					    		</li>			    		<li>
			    		<a title="走进防城港 弄潮北部湾" href="/articles/meitibaodao/73637.html">走进防城港 弄潮北部湾</a>
			    					    		</li>			    		<li>
			    		<a title="广西北部湾打造国际航运枢纽和港..." href="/articles/meitibaodao/73636.html">广西北部湾打造国际航运枢纽和港...</a>
			    					    		</li></ul>    	</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div>		</div></div>
	</div>
	</div>
</div>
</div>
<!--底部-->
<div id="ft">
	<div class="ft-inner"><div class="ft-menu"  id="ft-menu">
	<a href="/page/lianxiwomen" target="_self">联系我们</a> | <a href="/page/gongsijieshao" target="_self">公司介绍</a> | <a href="/articles" target="_self">网站新闻</a> | <a href="/books" target="_self">留言系统</a> | <a href="/links" target="_self">友情链接</a></div>
	<div class="siteinfo" id="ft-siteinfo">
	<a href="http://www.miibeian.gov.cn/"></a></p>
</div></div>
</div>