<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title> 绿黑色物流网站设计G </title>
<meta content=" " name="keywords" />
<meta content="" name="description" />

<link rel="stylesheet" type="text/css" href="__TEMPLATE__/static/css/css1.css" />
</head>
<body >
<!--顶部-->
<div id="doc">
	<div id="hd">
		<div class="clearfix pagetitle">
			<h1 class="sitename"><a href="/" title="绿黑色物流网站设计G">
			<img  class="ifixpng" src="http://7737.open.www313.com/themed/9671_20131223094610_publish/img/logo.png"  alt="绿黑色物流网站设计G" /></a></h1>
			<div class="language">
				<div class="language-inner"></div>
				<form class="search clearfix" action="/search">
					<input id="ipt-keywords" name="keyword" class="enter" type="text" value="请输入关键字..." />
					<button class="btn" type="submit"></button>
				</form>
			</div>
		</div>
		<div class="clearfix sitenav">
			<div class="clearfix menu-main"><ul id="menuSitenav" class="clearfix">
<li class="first-item">
     <a href="__ROOT__" class="home"><span>首页</span></a>
</li>
<li class="first-item">
     <a href="__CONTROL__&m=article&cid=3&id=9" class="home"><span>公司简介</span></a>
</li>

<channel type='top'>
                <li >
                	<a href="{$field.url}" target="_self">
                	<span>{$field.cname}</span></a>                                
                </li>
</channel>
              <li class="first-item">
     <a href="http://www.houdunwang.com" target="_blank"><span>后盾网</span></a>
</li>                  
                </ul></div>	
		</div>
	</div>      
</div>